# .gitignore

# IntelliJ
*.iml
.idea

# any custom directoies
custom

# Mac
.DS_Store

# Private information
realdata/
app/private/database/production

# NPM
node_modules
npm-debug.*

# Production settings
settings.production.*

# Javascript
app/*.js
app/*.js.map
app/*.jsx

# testing outputs
tests_output/
chromedriver.log

# api documentation
api-docs

# MUP deploy files containing passwords
app/.deploy/mup.js
app/.deploy/settings.json

