#secondMenu {
  background-color: #4fa88f !important;
  color: #fff !important;
  padding-bottom: 0 !important;
}

#firstMenu {
  border: 0 !important;
}

.radgrad-menu {
  background-color: #4fa88f;
}

.guidedTour {
  width: 100%;
  padding: 30px 0 !important;
  margin-top: -30px !important;
  margin-bottom: 20px !important;
}

.action-box {
  color: #fff;
  height: 160px;
  background-repeat: no-repeat;
  background-position: center;
}

.action-box p {
  font-weight: 100;
}

.bg1 {
  background-color: #6fbe44;
}

.action-box1 {
  background-image: url("/images/studentLaptop_bg.png");
}

.action-box2 {
  background-image: url("/images/course_bg.png");
}

.action-box3 {
  background-image: url("/images/career_bg.png");
}

.helpPanel {
  background-color: #ffffff;
  width: 100%;
  border: 0;
}

.helpPanel {
  font-size: 16px;
}

.favorites_title {
  color: #53A78F;
}

.test {
  padding: 500px;
  background-color: #000;
}

.guidedTour {
  background-color: #0e8c8c;
}

.guidedTour h2 {
  color: #fff;
}

.cardMenu {
  width: 100% !important;
  padding: 15px !important;
}

.cardMenu_header {
  padding-bottom: 10px !important;
  border-bottom: #c8c8c8 solid 2px !important;

}

.cardMenu_btn {
  width: 100% !important;
  background-color: #53A78F !important;
  text-align: center;
  padding: 0 10px;
}

.ui.image.label.profileLabel {
    border: 1px solid lightgrey;
}

.ui.image.label .detail.profileLabel {
    background-color: white !important;
    padding-right: 0;
    opacity: unset;
    border-radius: 0;
}

/**
 * Level light  dark
 *   1. #969c9f #7d8388
 *   2. #ddca7d #ceb23f
 *   3. #96ca50 #6ea543
 *   4. #395890 #243557
 *   5. #d5714b #a94d29
 *   6. #3a3a3c #252525
 */

.ui.image.label.profileLabel.Level6BackgroundColor {
    background-color: #252525 !important;
}

.ui.image.label.profileLabel.Level5BackgroundColor {
    background-color: #a94d29 !important;
}

.ui.image.label.profileLabel.Level4BackgroundColor {
    background-color: #243557 !important;
}

.ui.image.label.profileLabel.Level3BackgroundColor {
    background-color: #6ea543 !important;
}

.ui.image.label.profileLabel.Level2BackgroundColor {
    background-color: #ceb23f !important;
}

.ui.image.label.profileLabel.Level1BackgroundColor {
    background-color: #7d8388 !important;
}

.ui.image.label.profileLabel.Level0BackgroundColor {
    background-color: white !important;
    color: #252525 !important;
}

