{
  "presets": ["es2015", "meteor", "next/babel",
    {
      "preset-env": { "targets": { "node": true } }
    }],
  "plugins": [
    "transform-class-properties",
    "transform-react-constant-elements",
    "transform-react-inline-elements",
    "transform-react-remove-prop-types"
  ]
}
