/* For StudentHomePage.tsx and its components */
.checkList{
    padding-top: 50px !important;
    background-color: #eeeeee !important;
}
.checklist p{
    font-size: 17px;
}
.highlightBox{
    background-color: #eefaf6;
    padding: 15px 15px;
    margin: 15px 0;
    border-radius: 10px;
}
.centeredBox{
    text-align: center;
    padding-top: 10px;
}
.centeredBox p{
    font-size: 18px;
    line-height: 1.3em;
}
.improveContainer{
  background-color: #EEEEEE;
  padding: 25px 0;
}
.reviewContainer{
  background-color: #f9fae9;
  padding: 25px 0;
}
.okContainer{
  background-color: #e2fbdd;
  padding: 25px 0;
}
.headerLabel{
  border-radius: 0.1em;
  color: #FFFFFF;
  text-align: center;
  width: 100px;
  display:inline-block;
}
.redBG{
  background-color: #CA4864;
}
.yellowBG{
  background-color: #CEB23F;
}
.greenBG{
  background-color: #6FBE44;
}
.header{
  line-height: 2.0em;

}