.ui.image.label.profileLabel {
    border: 1px solid lightgrey;
}

.ui.image.label .detail.profileLabel {
    background-color: white !important;
    padding-right: 0;
    opacity: unset;
    border-radius: 0;
}

/**
 * Level light  dark
 *   1. #969c9f #7d8388
 *   2. #ddca7d #ceb23f
 *   3. #96ca50 #6ea543
 *   4. #395890 #243557
 *   5. #d5714b #a94d29
 *   6. #3a3a3c #252525
 */

.ui.image.label.profileLabel.Level6BackgroundColor {
    background-color: #252525 !important;
}

.ui.image.label.profileLabel.Level5BackgroundColor {
    background-color: #a94d29 !important;
}

.ui.image.label.profileLabel.Level4BackgroundColor {
    background-color: #243557 !important;
}

.ui.image.label.profileLabel.Level3BackgroundColor {
    background-color: #6ea543 !important;
}

.ui.image.label.profileLabel.Level2BackgroundColor {
    background-color: #ceb23f !important;
}

.ui.image.label.profileLabel.Level1BackgroundColor {
    background-color: #7d8388 !important;
}

.ui.image.label.profileLabel.Level0BackgroundColor {
    background-color: white !important;
    color: #252525 !important;
}

/*
 ICE
 I: Green: #80ad28
 C: Blue: #26407c
 E: Red: #952163
 */

.profileICEi {
    border-radius: 50%;
    padding: 5px;
    border: 3px solid #80ad28;
    color: #80ad28;
    text-align: center;
    font-weight: 700;
}


.profileICEc {
    border-radius: 50%;
    padding: 5px;
    border: 3px solid #26407c;
    color: #26407c;
    text-align: center;
    font-weight: 700;
}

.profileICEe {
    border-radius: 50%;
    padding: 5px;
    border: 3px solid #952163;
    color: #952163;
    text-align: center;
    font-weight: 700;
}

